<!doctype html>
<html>
<head>
<title>counters</title>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf8">
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <h1 class="jumbotron-heading">Counters</h1>
        <script type="text/template" id="dwmy">
            <p class="list-group-item-text" style="margin-bottom:3px"> <%- title %>
                <span class="badge alert-info pull-right"> <%- valu %></span>
            </p>
        </script>
        <script type="text/template" id="template">
            <div class="list-group">
                <% _.each(listItems, function(item) { %>
                    <a class="list-group-item">
                        <h4 class="list-group-item-heading"><%- item.title %></h4>
                        <%= dwmy({title:"Days",valu:item.getDtDiff().days}) %>
                        <%= dwmy({title:"Weeks",valu:item.getDtDiff().weeks}) %>
                        <%= dwmy({title:"Months",valu:item.getDtDiff().months}) %>
                        <%= dwmy({title:"Years",valu:item.getDtDiff().years}) %>
                    </a>
                <% }); %>
            </div>
        </script>
    </div>
    <script src="counters.js"></script>
</body>
</html>
